html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html{
	height:100%;
	width:100%;
	font-family:'Helvetica','Arial','sans-serif';
	overflow:hidden;
}
#navigation{
	position:fixed;
	bottom:0;
	overflow:auto;
}
#window{
	height:300px;
	width:300px;
	border:1px solid #000;
	position:relative;
	overflow:hidden;
}
#container{
	width:100000px;
	position:relative;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.slide{
    width:300px;
    height:300px;
    float:left;
}

.project{
    display:block;
    float:none;
    clear:both;
}
​div{
	margin:0;
	padding:0;
}
.inner{
	padding:20px;
}
#choco-menu{
	position:absolute;
	top:0;
	overflow:auto;
	z-index:1000;
	top:20px;
}
.choco-link{
	width:10px;
	height:10px;
	margin-left:10px;
	border:1px solid #333;
	display:block;
	float:left;
	background-color:#bababa;
}
.choco-row{
	overflow:auto;
	margin-top:10px;
}
.choco-link.active{
	background-color:blue;
}