html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html{
	height:100%;
	width:100%;
	font-family:'Helvetica','Arial','sans-serif';
	overflow:hidden;
}
@font-face {
	font-family: 'Lobster';
	src: url('fonts/Lobster.otf');
}
body{
	background-image:url('../img/backgorund.jpg');
	font-weight: 200;
}
#navigation{
	overflow:auto;
	margin-bottom: 10px;
}
#navigation a{
	color: #444;
	text-decoration:none;
	font-size:12px;
}
#navigation a:hover{
	text-decoration: underline;
}
#window{
	width:1px;
	height:1px;
	position:relative;
	overflow:hidden;
}
#container{
	visibility:hidden;
	width:100000px;
	position:relative;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

.slide{
    width:300px;
    height:300px;
    float:left;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.slide .inner{
	padding:20px;
}
.project{
    display:block;
    float:none;
    clear:both;
}
​div{
	margin:0;
	padding:0;
}
.inner{
	padding:20px;
}
#choco-menu{
	display:none;
	position:absolute;
	overflow:auto;
	z-index:1000;
	bottom:20px;
	left:20px;
	background: white;
	padding:10px;
}
.choco-link{
	width:10px;
	height:10px;
	margin-right:1px;
	background:#999;
	display:block;
	float:left;
	background-color:#bababa;
}
.choco-row{
	overflow:auto;
	margin-top:1px;
}
.choco-link.active{
	background-color: #BADA55;
}
#loader-cont{
	width:100%;
	height:100%;
	box-sizing:border-box;
	position:absolute;
	top:0;
	left:0;
	background: rgba(0,0,0,.8);
	z-index:10000;

}
.loader-inner{
	padding-top:200px;
	width:80%;
	color:auto;
	margin:0 auto;
	text-align:center;
	color:#fff;
}
.loader-inner .title{
	margin-bottom:20px;
}
.title{
	font-family: 'Lobster', 'Helvetica Neue', 'Arial', 'Sans-serif';
	color: #444;
	font-size: 50px;
	text-align: center;
}
.text{
	font-weight: 200;
	margin-top:30px;
	color: #444;
	background: white;
	padding:20px;
}
.number{
	display:block;
}
#load-bar{
	margin-top:20px;
	background:#FFFFFF;
	width:0%;
	height:5px;
	-webkit-transition: width 250ms linear;
	-moz-transition: width 250ms linear;
    -ms-transition: width 250ms linear;
    -o-transition: width 250ms linear;
	transition: width 250ms linear;
}